.navbar {
  position: fixed;
  display: flex;
  z-index: 1000;
  justify-content: space-around;
  height: 50px;
  top: 0;
  width: 100vw;
  background-color: #000000c8;

  box-shadow: 0px 0px 14px black;
  padding: 10px;
}

.navbar a {
  color: whitesmoke;
}
